header {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 16px 0;
    z-index: 10;
    background: linear-gradient(180deg, #000 -9.73%, rgba(217, 217, 217, 0.00) 93.41%);


}
.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        margin-left: auto;
        display: block;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #fff;
        text-decoration: none;
        transition: color .3s;
        &:hover {
            color: $green;
        }
    }
    &__btn {
        border: none;
        background: transparent;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #fff;
        margin-left: 64px;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        transition: color .3s;
        &:hover {
            color: $green;
        }
        &::after {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background: $green;
        }
    }
    &__nav {
        position: absolute;
        top: 0;
        right: -1000%;
        width: 40%;
        transition: right .3s;
        background: #fff;
        z-index: 11;
        &_active {
            right: 0;
        }
    }
}
.menu {
    &__item {
        &__submenu {
            position: relative;
            span {
                cursor: pointer;
            }
        }
    }
   
    background: #fff;
    list-style-type: none;
    padding: 48px 36px;
   
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        padding: 20px 0;
        color: $text-color;
        text-decoration: none;
        font-weight: 500;
        transition: all .3s;
        font-size: 18px;
        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background: $green;
            border-radius: 100%;
            transition: all .3s;
        }
        &:hover {
            color: $green;
            &::before {
                background: #fff;
                outline: 1px solid $green;
            }
        }
        
    }
    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border: none;
        background: url(../img/icons/close.svg) no-repeat center/contain;
        cursor: pointer;
    }
}
.submenu {
    list-style-type: none;
    
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    opacity: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
    transition: height .3s;
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        padding: 12px 0;
        color: $text-color;
        text-decoration: none;
        font-weight: 500;
        transition: all .3s;
        font-size: 14px;
        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: $green;
            border-radius: 100%;
            transition: all .3s;
        }
        &:hover {
            color: $green;
            &::before {
                background: #fff;
                outline: 1px solid $green;
            }
        }
    }
    &_active {
        height: 210px;
        width: 100%;
        opacity: 1;
        padding-left: 32px;
        position: relative;
    }
}